---
import Panel from "../panel.astro";
import PanelItem from "../panel_item.astro";
import PanelText from "../panel_text.astro";
import surge_build_nightly from "../../content/generated/surge-build-nightly.json" with { type: "json" };
import surge_build_stable from "../../content/generated/surge-build-stable.json" with { type: "json" };
---

<Panel style="bg-backgroundBlue text-neutral-200 items-start [&_a]:text-white">
    <PanelItem>
        <PanelText>
            <div class="my-4 text-3xl font-bold">System Requirements</div>

            <div class="my-4 text-2xl font-bold">Windows</div>

            <ul>
                <li>
                    <strong>Minimum:</strong> Windows 7 and Intel or AMD processor featuring SSE2 instructions
                </li>
                <li>
                    <strong>Recommended:</strong> 64-bit Windows 7 or newer, 3 GHz quad-core processor
                    featuring SSE2 instructions or better
                </li>
                <li>Minimum of 4 GB of RAM</li>
                <li>VST3 or CLAP compatible host application</li>
                <li>x64-compatible CPU, OS and host is required to use the 64-bit version</li>
            </ul>

            <div class="my-4 text-2xl font-bold">macOS</div>

            <ul>
                <li>
                    Surge XT is an Intel/Apple Silicon universal binary. Intel Mac requires macOS
                    10.11 or later, Apple Silicon Mac will run Surge XT with any Apple Silicon
                    version of macOS
                </li>
                <li>Minimum of 4 GB of RAM</li>
                <li>VST3, AU or CLAP compatible host application</li>
            </ul>

            <div class="my-4 text-2xl font-bold">Linux</div>

            <ul>
                <li>PC or ARM system running a Linux distribution</li>
                <li>
                    x64-compatible CPU, OS and host is required to use the 64-bit version; for ARM
                    processors you can build Surge XT for ARM on Raspberry Pi and similar (tested
                    with RPi4/arm64)
                </li>
                <li>Minimum of 4 GB of RAM</li>
                <li>VST3, CLAP or LV2 compatible host application</li>
            </ul>
        </PanelText>
    </PanelItem>

    <PanelItem>
        <PanelText>
            <div class="my-4 text-3xl font-bold">Download Surge XT</div>

            <div class="my-4 text-2xl font-bold">Version {surge_build_stable.version}</div>

            <ul>
                <li>
                    <a href={surge_build_stable.releases.win64}>Windows 64-bit</a> · <a
                        href={surge_build_stable.releases.win32}>32-bit</a
                    >
                </li>
                <li><a href={surge_build_stable.releases.macos}>macOS 64-bit</a></li>
                <li>
                    <a href={surge_build_stable.releases.linux64}>Linux 64-bit</a>
                </li>
            </ul>

            <p><a href={surge_build_stable.releases.other}>All available downloads</a></p>

            <div class="my-4 text-2xl font-bold">Nightly Builds</div>

            <ul>
                <li>
                    <a href={surge_build_nightly.releases.win64}>Windows 64-bit</a>
                </li>
                <li><a href={surge_build_nightly.releases.macos}>macOS 64-bit</a></li>
                <li>
                    <a href={surge_build_nightly.releases.linux64}>Linux 64-bit</a>
                </li>
            </ul>

            <p>
                <a href="https://github.com/surge-synthesizer/surge/releases/tag/Nightly"
                    >All available nightly downloads</a
                >
            </p>

            <p>
                <a href="/nightly_XT">More info about nightly builds</a>
            </p>

            <div>(Updated on {surge_build_nightly.build_time})</div>
        </PanelText>
    </PanelItem>
</Panel>
