---
const { name, thumbnail, download, author, url, description } = Astro.props;
---

<a href={`/images/skin-library/${thumbnail}`}>
    <img src={`/images/skin-library/${thumbnail}`} alt={name} />
</a>

<a href={download}>&#11015; {name}</a>

{
    url ? (
        <span>
            by <a href={url}>{author}</a>
        </span>
    ) : (
        <span>by {author}</span>
    )
}

{description && <p>{description}</p>}
